<h1 style="text-align: center;">Books</h1>
<div class="d-flex justify-content-center align-items-center">

    <div class="book-details-container bg-light p-3 border rounded" style="text-align: center;">
    
<div class="form-group">
        <input type="number" type="number" [(ngModel)]="enteredId" placeholder="Enter Book ID">
        <button class="btn btn-warning" (click)="searchById()">Search</button>
        <br><br>
</div>
        
<div *ngIf="book && book.id === enteredId">
    <table mat-table class="table table-striped">
        <thead>
            <tr>
                <th> Id</th>
                <th> Book Title</th>
                <th> Author Name</th>
                <th> Publication Year</th>
                <th> Actions</th> 
            </tr>
        </thead>
        <tbody>
                <td> {{ book.id}} </td>
                <td> {{ book.bookTitle}} </td>
                <td> {{ book.authorName}} </td>
                <td> {{ book.publicationYear}} </td>
                <td> 
                    <button (click) = "updateBook(book.id)" class="btn btn-info"> Edit </button>
                    <button (click) = "deleteBook(book.id)" class="btn btn-danger"> Delete </button>
                    <button (click) = "bookDetails(book.id)" class="btn btn-submit"> View </button>
    
                </td>
    
            <!-- </tr> -->
        </tbody>
    </table>
    </div>


<table *ngIf="!book || !enteredId " class="table table-striped">
    <thead>
        <tr>
            <th> Id</th>
            <th> Book Title</th>
            <th> Author Name</th>
            <th> Publication Year</th>
            <th> Actions</th> 
        </tr>
    </thead>
    <tbody> 
            <tr *ngFor="let book of paginatedBooks()">
            <td> {{ book.id}} </td>
            <td> {{ book.bookTitle}} </td>
            <td> {{ book.authorName}} </td>
            <td> {{ book.publicationYear}} </td>
            <td> 
                <button (click) = "updateBook(book.id)" class="btn btn-info"> Edit </button>
                <button (click) = "deleteBook(book.id)" class="btn btn-danger"> Delete </button>
                <button (click) = "bookDetails(book.id)" class="btn btn-submit"> View </button>

            </td>

        </tr>
    </tbody>
</table>
<!-- Add these buttons where you want the pagination controls to appear -->
<button class="btn btn-secondary" (click)="previousPage()">Previous</button>
<button class="btn btn-secondary" (click)="nextPage()">Next</button>


</div></div>