<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-KvCKFuIXdRQB3J1Jw1rFoAXh/OJpy9txF5u5ePi0khRR5DOvE+Zc7yFFVQbP4uUZfkojrAGkkCk5o3Okr5b8KA=="
        crossorigin="anonymous">
    
/></head>



<h1 style="text-align: center">Books</h1>
<style>
  .arrow-up::before {
    content: "\25B2";
  }
  .arrow-down::before {
    content: "\25BC";
  }
</style>
<div class="d-flex justify-content-center align-items-center">
  <div
    class="book-details-container bg-light p-3 border rounded"
    style="text-align: center"
  >


  <div class="form-group">
    <input
      type="text"
      [(ngModel)]="enteredId"
      placeholder="Enter search term"
    />
    <button class="warning" (click)="search()">Search</button>
    </div>
<div>
    <br />
    <label>
      <input type="radio" [(ngModel)]="searchCriteria" value="id" />
      Book ID
    </label>
    <label>
      <input type="radio" [(ngModel)]="searchCriteria" value="author" />
      Author Name
    </label>
    <label>
      <input type="radio" [(ngModel)]="searchCriteria" value="name" />
      Book Title
    </label>

</div>
<br />

<div *ngIf="invalidSearchCriteria" class="error-message">
  Invalid search criteria. Please select a valid option.
</div>


 <!-- <div *ngIf="book"> -->
  <div *ngIf="book && enteredId || !books">
      <table mat-table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Book Title</th>
            <th>Author Name</th>
            <th>Publication Year</th>

            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <td>{{ book.id }}</td>
          <td>{{ book.bookTitle }}</td>
          <td>{{ book.authorName }}</td>
          <td>{{ book.publicationYear }}</td>
          <td>
            <button (click)="updateBook(book.id)" class="btn btn-info">
              Edit
            </button>
            <button (click)="deleteBook(book.id)" class="btn btn-danger">
              Delete
            </button>
            <button (click)="bookDetails(book.id)" class="btn btn-submit">
              View
            </button>             
          </td>

          <!-- </tr> -->
        </tbody>
      </table>
    </div>

    <table *ngIf="!book || !enteredId" class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Book Title</th>
          <th>Author Name</th>
          <th>
            Publication Year
            <button style="border: none; background: none; cursor: pointer;" (click)="sortTable('publicationYear')">
              <span
                [ngClass]="{
                  'arrow-up': isAscending,
                  'arrow-down': !isAscending
                }"
              ></span>
            </button>
          </th>

          <!-- <th (click)="sortTable('publicationYear')"> Publication Year</th> -->
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of paginatedBooks()">
          <td>{{ book.id }}</td>
          <td>{{ book.bookTitle }}</td>
          <td>{{ book.authorName }}</td>
          <td>{{ book.publicationYear }}</td>
          <td>
            <button (click)="updateBook(book.id)" class="btn btn-info">
              Edit
            </button>
            <button (click)="deleteBook(book.id)" class="btn btn-danger">
              Delete
            </button>
            <button (click)="bookDetails(book.id)" class="btn btn-submit">
              View
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Add these buttons where you want the pagination controls to appear -->
    <button class="btn btn-primary" (click)="previousPage()">Previous</button>
    <button class="btn btn-secondary" (click)="nextPage()">Next</button>
  </div>
</div>