<h1 style="text-align: center;">Book Details</h1>
<div class="d-flex justify-content-center align-items-center">

<div class="book-details-container bg-light p-3 border rounded" style="text-align: center;">
    <div>
       <h5> <label><b>Book Title : </b></label>{{ book.bookTitle}}  </h5>
    </div>
    <div>
        <h5> <label><b>Author Name : </b></label>{{ book.authorName}} </h5>
    </div>
    <div>
        <h5> <label><b>Publication Year : </b></label>{{ book.publicationYear}} </h5>
    </div>
</div>
</div>

<td> </td>
           